################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/设计模式/Debug
/原型模式/Debug
/设计模式/.vs/设计模式/v16
